/*Styles go here*/

h1{
  font-family: "Times New Roman", Times, serif;
  color:red
  font-size: 20px;
  font-weight: bold;
}

body {
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

#main p{
  font-weight: bold;
 text-align: center;
}

img{
  border-style: none;
}

#nav{
  list-style-type: none;
  margin: 0;
  padding: 3px;
}

#nav li {
	float: left;
}

#nav a:link, #nav a:visited{
  font-weight:bold;
  text-align: center;
  display: block;
  width:180px;
  padding: 4px 4px;
	color: #EBCB8B;
	background-color: lightblue;
}

#nav a:hover, #nav a:active {
	background-color: #BF616A;
}

#sidebar p a{
  text-decoration: none;
  color: #8FA1B3;
}

#sidebar p a:hover, #sidebar p a:active{
   text-decoration: underline;
   color:  #A3BE8C;
}

#container{
  background-color:  #ffffff;
  width: 850px;
	margin: 0 auto;
}

#main{
  background-color: #ff9999;
  width: 500px;
	float: left;
}

#sidebar{
  background-color: #cc99ff;
  width: 400px;
	float: right;
  border-left: 5px solid #e6ff99;
  padding-left: 10px;
}
/* this is on every page*/
