/*Styles go here*/

h1{
  font-family: "Times New Roman", Georgia, Serif;
  font-size: 20px;
  font-weight: bold;
}

body {
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

#container{
  background-color:  #cc99ff;
  width: 700px;
	margin: 0 auto;
}

#main p{
  font-weight: bold;
 text-align: center;
}

#navigation{
  list-style-type: none;
  margin: 0;
  padding: 3px;
}

#navigation li {
  list-style-type: none;
  display: inline;
	float: left;
}

#navvigation a:link, #navvigation a:visited{
  font-weight:bold;
  text-align: center;
  display: block;
  width:150px;
  padding: 4px 4px;
	color: #EBCB8B;
	background-color: #99ff99;
}

#navigation a:hover, #navigation a:active {
	background-color: #BF616A;
}

img{
  border-style: none;
}

#sidebar p a{
  text-decoration: none;
  color: #0000ff;
}

#sidebar p a:hover, #sidebar p a:active{
   text-decoration: none;
   color:#000099;
}
#main{
  background-color: #ff9999;
  width: 490px;
	float: left;
}

#sidebar{
  background-color: #cc99ff;
  width: 200px;
	float: right;
  border-left: 5px solid #e6ff99;
  padding-left: 5px;
  padding-bottom: 270px
}

body{background-color: lightblue;}
/* this is on every page*/
